/* clearfix */
/* center block */
/* center vertically */
/* clearfix */
/* respo */
.calendar-wrap {
  height: 100vh;
}

.calendar-wrap .logo-black {
  background: url(../images/cata-color-logo@3x.png) no-repeat;
}

.calendar-wrap .logo-white {
  background: url(../images/cata-white-logo@3x.png) no-repeat;
}

.calendar-wrap .ncba-logo {
  width: 120px;
  height: 40px;
  display: block;
  background-size: 120px 40px;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 99;
}

.calendar-wrap .months-row {
  border: 0;
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
  position: relative;
  border: 1px solid #3920303e;
  position: absolute;
  width: 50%;
  right: 30px;
  top: 30px;
  z-index: 1;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .calendar-wrap .months-row {
    width: 90%;
    right: 0;
    top: 100px;
    left: 20px;
  }
}

.calendar-wrap .months-row .item {
  position: relative;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
}

.calendar-wrap .months-row .item:after {
  content: "";
}

.calendar-wrap .months-row .item .tab-link {
  color: #5a5a5ab3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendar-wrap .months-row .item .tab-link .sm-text {
  font-size: 13px;
}

.calendar-wrap .months-row .item .tab-link .lg-text {
  font-size: 20px;
}

.calendar-wrap .months-row .item:hover::before {
  height: 10px;
  width: 10px;
}

.calendar-wrap .months-row .item.active {
  font-family: "avertabold";
  color: #3ab3e5;
  /* &::before {
          height: 10px;
          width: 10px;
        } */
}

.calendar-wrap .months-row .item.active .tab-link {
  color: #3ab3e5;
}

.calendar-wrap .months-row .item.active:after {
  color: #000;
  border-width: 7px 7px 0;
  border-color: #3ab3e5 transparent;
  width: 10px;
  height: 10px;
  border-style: solid;
  position: absolute;
  bottom: 0;
  left: 44%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.calendar-wrap .months-row .item.current {
  font-family: "avertabold";
  color: #3ab3e5;
}

.calendar-wrap .months-row .item.current .tab-link {
  color: #3ab3e5;
}

.calendar-wrap .months-row .item.current:after {
  color: #000;
  border-width: 7px 7px 0;
  border-color: #3ab3e5 transparent;
  width: 10px;
  height: 10px;
  border-style: solid;
  position: absolute;
  bottom: 0;
  left: 44%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.calendar-wrap .months-row .item.previous {
  font-family: "avertabold";
  color: #392a26;
}

.calendar-wrap .months-row .item.previous .tab-link {
  color: #392a26;
}

.calendar-wrap .months-row .item.upcoming {
  color: #5a5a5ab3;
}

.calendar-wrap .months-row .item.upcoming .tab-link {
  color: #5a5a5ab3;
}

.calendar-wrap .months-row .owl-nav {
  position: absolute;
  top: 20px;
  width: 100%;
  font-size: 0 !important;
  left: 0;
}

.calendar-wrap .months-row .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  background: none !important;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.calendar-wrap .months-row .owl-nav .owl-prev:before {
  font-family: "bootstrap-icons";
  content: "\f12c";
  position: absolute;
  left: 20px;
  color: #3ab3e5;
  background: #dedede;
  font-size: 20px;
  border-radius: 50%;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  -webkit-transition: all 0.5s ease 0.5s ease;
  transition: all 0.5s ease 0.5s ease;
}

.calendar-wrap .months-row .owl-nav .owl-prev:hover:before {
  color: #3ab3e5;
}

.calendar-wrap .months-row .owl-nav .owl-next {
  position: absolute;
  background: none !important;
  right: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.calendar-wrap .months-row .owl-nav .owl-next:before {
  font-family: "bootstrap-icons";
  content: "\f135";
  position: absolute;
  right: 20px;
  color: #3ab3e5;
  background: #dedede;
  font-size: 20px;
  border-radius: 50%;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  -webkit-transition: all 0.5s ease 0.5s ease;
  transition: all 0.5s ease 0.5s ease;
}

.calendar-wrap .months-row .owl-nav .owl-next:hover:before {
  color: #3ab3e5;
}

.calendar-wrap .calendar-inner-content {
  position: relative;
}

.calendar-wrap .calendar-inner-content::before {
  background: url(../images/calendar-dotted.png) no-repeat;
  background-size: 100%;
  content: "";
  position: absolute;
  left: 200px;
  top: 0;
  width: 30%;
  height: 200px;
  z-index: -1;
}

.calendar-wrap .calendar-inner-content .figure-holder {
  width: 100%;
  position: relative;
}

.calendar-wrap .calendar-inner-content .figure-holder::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.calendar-wrap .calendar-inner-content .figure-holder img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.calendar-wrap .calendar-inner-content figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: 0;
  padding-right: 100px;
  padding-bottom: 0;
  padding-left: 100px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .calendar-wrap .calendar-inner-content figcaption {
    padding-top: 100px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
  }
}

.calendar-wrap .calendar-inner-content figcaption small {
  font-size: 24px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  display: block;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .calendar-wrap .calendar-inner-content figcaption small {
    font-size: 16px;
  }
}

.calendar-wrap .calendar-inner-content figcaption h1 {
  font-size: 60px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  font-family: "avertabold";
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .calendar-wrap .calendar-inner-content figcaption h1 {
    font-size: 40px;
  }
}

.calendar-wrap .calendar-inner-content figcaption h3 {
  font-size: 30px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  color: #fff;
  font-family: "avertabold";
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .calendar-wrap .calendar-inner-content figcaption h3 {
    font-size: 20px;
  }
}

.calendar-wrap .calendar-inner-content figcaption p {
  font-size: 18px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .calendar-wrap .calendar-inner-content figcaption p {
    font-size: 16px;
  }
}

.calendar-wrap .calendar-inner-content figcaption.dark-text {
  color: #392a26;
}

.calendar-wrap .calendar-inner-content figcaption.dark-text .button__cta {
  color: #392a26;
}

.calendar-wrap .calendar-inner-content figcaption.white-text {
  color: #fff;
}

.calendar-wrap .calendar-inner-content figcaption.white-text .button__cta {
  color: #fff;
}

.calendar-wrap .calendar-inner-content figcaption .play-video-btn {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 70px;
  height: 70px;
  background: #3ab3e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.calendar-wrap .calendar-inner-content figcaption .content-area {
  height: 100px;
  overflow-y: auto;
  padding-top: 0;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
}

.calendar-wrap .calendar-inner-content figcaption .content-area::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.calendar-wrap .calendar-inner-content figcaption .content-area::-webkit-scrollbar-thumb {
  background: #3ab3e5;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

.calendar-wrap .calendar-inner-content figcaption .content-area::-webkit-scrollbar-track {
  background: #000;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
}

.calendar-wrap.calendar-detail-wrap {
  height: 100vh;
}

.calendar-wrap.calendar-detail-wrap .gradient-a {
  background: #f1fc9c;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1fc9c), to(#7db9e8));
  background: linear-gradient(to bottom, #f1fc9c, #7db9e8);
  height: 100vh;
}

.calendar-wrap.calendar-detail-wrap .gradient-b {
  background: #d45fd6;
  background: -webkit-gradient(linear, left top, right top, from(#d45fd6), to(#a1226e));
  background: linear-gradient(to right, #d45fd6, #a1226e);
  height: 100vh;
}

.calendar-wrap.calendar-detail-wrap .slick-arrow {
  width: 50px;
  height: 50px;
  background: #e6e6e8;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  z-index: 99;
  position: absolute;
  top: 40px;
}

.calendar-wrap.calendar-detail-wrap .slick-arrow::before {
  color: #000;
  font-size: 20px;
}

.calendar-wrap.calendar-detail-wrap .slick-prev {
  right: 100px;
  left: initial;
}

.calendar-wrap.calendar-detail-wrap .slick-prev::before {
  font-family: "bootstrap-icons";
  content: "\f12c";
  font-size: 30px;
}

.calendar-wrap.calendar-detail-wrap .slick-next {
  right: 40px;
}

.calendar-wrap.calendar-detail-wrap .slick-next::before {
  font-family: "bootstrap-icons";
  content: "\f135";
  font-size: 30px;
}

.calendar-wrap.calendar-detail-wrap .slick-dots {
  position: absolute;
  right: 0;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  top: 0;
  height: 100%;
}

.calendar-wrap.calendar-detail-wrap .slick-dots li {
  height: 70px;
  width: 40px;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
}

.calendar-wrap.calendar-detail-wrap .slick-dots li.slick-active {
  background: #fff;
  color: #000;
}

.calendar-wrap.calendar-detail-wrap .slick-dots li a {
  height: 70px;
  width: 40px;
  line-height: 70px;
  display: block;
}

.calendar-wrap.calendar-detail-wrap .back-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border: 1px solid #39203026;
}

.calendar-wrap.calendar-detail-wrap .back-btn p {
  font-size: 18px;
  font-size: 1.125rem;
  color: #392a26;
}

.calendar-wrap.calendar-detail-wrap .back-btn i {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calendar-wrap.calendar-detail-wrap .back-btn i::before {
  color: #392a26;
  font-size: 20px;
  font-size: 1.25rem;
}

.calendar-wrap.calendar-detail-wrap .back-btn:hover {
  background: #dedede;
}

.calendar-wrap.calendar-detail-wrap .share-btn {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 30px;
}

.calendar-wrap.calendar-detail-wrap .share-btn i::before {
  color: #392a26;
  font-size: 24px;
  font-size: 1.5rem;
}

.back-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border: 1px solid #39203026;
}

.back-btn p {
  font-size: 18px;
  font-size: 1.125rem;
  color: #392a26;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0 !important;
  margin-left: 0;
}

.back-btn i {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.back-btn i::before {
  color: #392a26;
  font-size: 20px;
  font-size: 1.25rem;
}

.back-btn:hover {
  background: #dedede;
}

.back-btn:hover i {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

#video-modal .modal-dialog {
  margin: 100px auto;
}

#video-modal .btn-close {
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: absolute;
  right: -60px;
  top: -40px;
  width: 40px;
  height: 40px;
  opacity: 10;
  z-index: 1032;
  background: none;
}

#video-modal .btn-close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#video-modal .btn-close i:before {
  color: #fff;
  font-size: 30px;
  font-size: 1.875rem;
}

#video-modal .modal-content {
  background-color: #000;
  border: 0;
  border-radius: 0;
}

#video-modal .modal-body {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
/*# sourceMappingURL=calendar.css.map */