@import "base/reset", "base/typography";

@import "partials/variables", "partials/mixins", "partials/layout";

@import "components/ui-elements";

@import "vendor/slick-carousel/slick", "vendor/slick-carousel/slick-theme",
  "vendor/OwlCarousel2-2.2.1/owl.carousel",
  "vendor/OwlCarousel2-2.2.1/owl.theme.default";

body {
  font-family: $font-primary-en;
}
h1,
h2,
h3 {
  font-family: $font-primary-en;
}
.wow {
  visibility: hidden;
}
a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

section {
  @include margin(0, 0, 105px, 0);

  @include breakpoint(md) {
    @include margin(0, 0, 50px, 0);
  }

  @include breakpoint(sm) {
    @include margin(0, 0, 50px, 0);
  }

  h2 {
    font-size: 40px;
    color: $brand-color;
    @include breakpoint(sm) {
      font-size: 30px;
    }
    @include breakpoint(md) {
      font-size: 30px;
    }
  }
}
@include breakpoint(sm) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.blue-wrap {
  background: $light-blue-color;
}
.blue-wrap-padding {
  @include padding(80px, 0, 80px, 0);

  @include breakpoint(sm) {
    @include padding(30px, 0, 30px, 0);
  }
}
.grey-wrap {
  background: #f5f5f5;
}
.grey-wrap-padding {
  @include padding(80px, 0, 80px, 0);

  @include breakpoint(sm) {
    @include padding(30px, 0, 30px, 0);
  }
}
.nomargin {
  @include margin(0, 0, 0, 0);
}
.nopadding {
  @include padding(0, 0, 0, 0);
}
.card {
  @include border-radius(0);
  border: 0;
}
.lock-scroll {
  overflow: hidden;
  overflow-y: hidden;
}
