@mixin anchor__inner {
  &:after {
    position: absolute;
    content: "";
    border-right: 2px solid $brand-second-color;
    border-top: 2px solid $brand-second-color;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    top: 8px;
    right: -28px;
    @include transition();
  }
  &:before {
    content: "";
    position: absolute;
    height: 35px;
    width: 35px;
    right: -42px;
    border-radius: 100%;
    border: 2px solid $brand-second-color;
    top: -5px;
    @include transition();
  }
  .ui-line {
    opacity: 1;
    width: 20px;
  }
  .button-text {
    margin-right: 30px;
    color: $brand-second-color;
  }
}

.button__cta {
  display: inline-block;
  color: $brand-color;
  position: relative;
  .anchor__inner {
    display: inline-block;
    position: relative;
    width: fit-content;
    text-align: right;
    font-size: 15px;
  }
  .ui-line {
    height: 1px;
    width: 0;
    background: $brand-second-color;
    display: inline-block;
    position: absolute;
    top: 13px;
    right: 3px;
    opacity: 0;
    @include transition();
  }
  .button-text {
    @include transition();
  }
  &:hover {
    @include anchor__inner;
  }
}
