/* regular */
@font-face {
  font-family: "avertaregular";
  src: url("../fonts/averta-regular-webfont.eot");
  src: url("../fonts/averta-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/averta-regular-webfont.woff2") format("woff2"),
    url("../fonts/averta-regular-webfont.woff") format("woff"),
    url("../fonts/averta-regular-webfont.ttf") format("truetype"),
    url("../fonts/averta-regular-webfont.svg#avertaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* bold */
@font-face {
  font-family: "avertabold";
  src: url("../fonts/averta-bold-webfont.eot");
  src: url("../fonts/averta-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/averta-bold-webfont.woff2") format("woff2"), url("../fonts/averta-bold-webfont.woff") format("woff"),
    url("../fonts/averta-bold-webfont.ttf") format("truetype"),
    url("../fonts/averta-bold-webfont.svg#avertabold") format("svg");
  font-weight: normal;
  font-style: normal;
}


/* black */
@font-face {
  font-family: "avertablack";
  src: url("../fonts/averta-black-webfont.eot");
  src: url("../fonts/averta-black-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/averta-black-webfont.woff2") format("woff2"), url("../fonts/averta-black-webfont.woff") format("woff"),
    url("../fonts/averta-black-webfont.svg#avertablack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tragic_markerregular';
  src: url('../fonts/tragicmarker-webfont.woff2') format('woff2'),
       url('../fonts/tragicmarker-webfont.woff') format('woff'),
       url('../fonts/tragicmarker-webfont.ttf') format('truetype'),
       url('../fonts/tragicmarker-webfont.svg#tragic_markerregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

